@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300&display=swap');
*{
    margin: 0;
    padding: 0;
}

nav ul{
    list-style: none;    
}

nav{
    font-family: 'Dancing Script', cursive;
    color: bisque;
    background-color: rgb(178, 22, 53);
    height: 75px;
    align-items: center;
    padding: 0 12px;
    font-size: 35px;
    display: flex;
}

.gameContainer{
    justify-content: center;
    display: flex;
    margin-top: 40px;
}

.container{
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
    position: relative;
}

.line{
    height: 3px;
    width: 0vw;
    background-color: rgb(33, 14, 174);
    position: absolute;
    transition: width 1s ease-in-out;
}

.box{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    font-size: 5.5vw;
}

.box:hover{
    background-color: rgb(222, 213, 231);
}

.gameInfo{
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 0 35px;
}

.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}

#reset{
    padding: 5px;
    background: pink;
    border-radius: 8px;
    margin-left: 12px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

@media screen and (max-width: 550px) 
{
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .container{
        grid-template-rows: repeat(3,10vw);
        grid-template-columns: repeat(3,10vw);
    }

}